@tailwind base; /* Tailwind's base styles, if any */
@tailwind components; /* Tailwind's component classes, if any */
@tailwind utilities; /* Tailwind's utility classes, if any */

@font-face {
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  }

@font-face {
    font-family: "Open Sans";
    src: url("../../public/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}